#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

nav {
  height: 80px;
}

nav a {
  margin: 0 1em;
}

form {
  min-width: 50%;
  max-width: 50%;
}

a {
  text-decoration: none;
  color: #753ebd;
}

a:hover {
  border-bottom: 1px solid;
}

nav a:first-child:hover {
  border: none;
}

#logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#pug-detail {
  animation: appear;
  animation-duration: 1s;
}

.pug-item {
  animation: appear;
  animation-duration: 1s;
  height: 102px;
  width: 82px;
}

#pug-detail img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

#pugs-list {
  max-width: 50%;
}

#moar-pugs {
  min-height: 102px;
  min-width: 82px;
}

#moar-pugs:hover {
  cursor: pointer;
  color: burlywood;
}

.pug-item:hover {
  border: none;
}

.pug-item img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin: 1em;
}
